<div class="navigation-bar">
    <menu type="context" class="top-menu">
        <span><a href="#">Home</a></span>
        <span><a href="users">Users</a></span>
        <span><a href="#">About</a></span>
        <span><a href="#">My Profile</a></span>
    </menu>
    <div class="logo">
        <span>The Swan House</span>
    </div>
</div>