<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- reusable skeleton --}}
     </head>
    <body>

        <div class="navigation-bar">
            <menu type="context" class="top-menu">
                <span><a href="#">Home</a></span>
                <span><a href="#">Contact</a></span>
                <span><a href="#">About</a></span>
                <span><a href="#">My Profile</a></span>
            </menu>
            <div class="logo">
                <span>The Swan House</span>
            </div>
        </div>
      {{!-- could use navbar here! --}}
      {{!-- can create home.hbs - with this, in the template would specify layout: "home" --}}
      {{!-- this is how other templates know where to go --}}
    {{{body}}}


    <footer>
        <div class="footer-container">
            <menu type="context" class="top-menu">
                <span><a href="#">Home</a></span>
                <span><a href="#">Contact</a></span>
                <span><a href="#">About</a></span>
                <span><a href="#">My Profile</a></span>
            </menu>
            <div class="logo">
                <span>&copy; 2017 The Swan House</span>
            </div>
        </div>

    </footer>

  </body>
</html>
