/* font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif; */

body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Lato', sans-serif;
}

a {
  color: #00B7FF;
}

/* navigation bar for all pages */
.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    height: 80px;
    box-shadow: 2px 2px 5px darkslategray;
}
.top-menu a {
    text-decoration: none;
    color: lightslategray;
    padding-right: 30px;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding-right: 40px;
}
.navigation-bar,
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lavender;
    font-size: 16px;
}
.footer-container {
    height: 200px;
}







/* users.hbs section */
.banner {
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    height: 500px;
    margin-top: 60px;
}
.welcome-message {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-shadow: 5px 5px 5px lavender;
}
.users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1024px;
}
.users {
    max-width: 300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.users:hover {
    background: lightcyan;
    cursor: pointer;
}